# Pass Authorization header to PHP
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Make sure PHP can access Authorization header
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# CGI/FastCGI Authorization fix
<IfModule mod_setenvif.c>
    SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
</IfModule>

# For PHP-FPM
CGIPassAuth On
